.img1 {
    width: 229px;
    height: 200px;
    margin: auto;
}

.img2 {
height: 246px;
width: 176px;
margin: auto;
}

.img3 {
    width: 229px;
    height: 158px;
}

.img4 {
    height: 204px;
    width: 240px;
}

.img5 {
    height: 213px;
    width: 198px;
}

.img6 {
    height: 260px;
    width: 180px;
}

.img7 {
    height: 240px;
    width: 196px;
}
.img8 {
    height: 98px;
    width: 234px;
    margin: auto;
}